useDynLib(logconPH)
#exportPattern("^[[:alpha:]]+")
export("logconcave")
export("dLC")
export("pLC")
export("qLC")
#export("plot.LCObject")
#export("lines.LCObject")
#export("plot.LCPHObject")
#export("lines.LCPHObject")
export("linesLC")
export("plotLC")
export("simPH_Censored")
#export("icpower")
